@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}
html {
  overflow-x: hidden;
  max-width: 100%;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #fff0;
}
html::-webkit-scrollbar-thumb {
  background-color: #44c1ba;
  border-radius: 6px;
}
html::-webkit-scrollbar-thumb:active {
  background-color: #44c1babb;
}
